h1 {
    text-align: center;
}

.marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
}

.one {
    background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
}

.two {
    background: linear-gradient(#55680D, #71F53E, #116C31);
}

.three {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
}