body {
    background-image: url(images/beans.jpg);
    font-family: sans-serif;
}

.menu {
    background-color: burlywood;
    width: 80%;
    max-width: 500 px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;;
}

h1 {
    font-size: 60px;
    margin-top: 0;
}

.established {
    font-style: italic;
}

h2 {
    font-size: 30px;
}

h1, h2 {
    font-family: Impact, serif;
}

h1, h2, p {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.flavor {
    width: 75%;
    text-align: left;
}

.price {
    width: 25%;
    text-align: right;
}
